html
    head 
        title= title 
    body 
        h1= message 
        for item in arr 
            p= item.name 
        hr
        ol 
            li Pug used indentation 
            em to embed tags inside 
            li each other